<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>CYMAN</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <!-- <dx-data-grid id="gridContainer"
          [dataSource]="dataSource"
          [remoteOperations]="false"
          [allowColumnReordering]="true"
          [rowAlternationEnabled]="true"
          [showBorders]="true"
          (onContentReady)="contentReady($event)"> -->
        <dx-data-grid id="gridContainer"
          [dataSource]="dataSource"
          [remoteOperations]="false"
          [allowColumnReordering]="true"
          [rowAlternationEnabled]="true"
          [showBorders]="true"
          (onRowClick)="openDialog($event)">

          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[10, 25, 50, 100]"
          ></dxo-pager>
          <dxo-search-panel
              [visible]="true"
              [highlightCaseSensitive]="true"
          ></dxo-search-panel>
          <dxo-group-panel
              [visible]="true"
          ></dxo-group-panel>
          <dxo-grouping
              [autoExpandAll]="false"
          ></dxo-grouping>

          <dxi-column dataField="Area" [groupIndex]="0"></dxi-column>
          <dxi-column dataField="ContainerNumber" caption="Container Number" dataType="string"></dxi-column>
          <dxi-column dataField="ContainerType" caption="Type" dataType="string"></dxi-column>
          <dxi-column dataField="CustomerName" caption="Customer" dataType="string"></dxi-column>
      </dx-data-grid>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>